<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>人员列表</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.3/jquery.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
            integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
            crossorigin="anonymous"></script>
    <style>

    </style>
</head>
<body>
<div class="panel panel-primary">
    <!-- 表格头 -->
    <div class="panel-heading">
        <h3 class="panel-title">数据表格</h3>
    </div>
    <!-- 表格体-->
    <div class="panel-body">
        <table class="table table-hover" style="margin-top: 2px;">
            <thead>
            <tr>
                <th>编号</th>
                <th>账户名</th>
                <th>员工姓名</th>
                <th>员工类型</th>
                <th>员工职位</th>
                <th>操作</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="bean : ${session.pageInfo.list}">
                <td th:text="${bean.userId}"></td>
                <td th:text="${bean.userAccount}"></td>
                <td th:text="${bean.userName}"></td>
                <td th:text="${bean.type.typeName}"></td>
                <td th:text="${bean.userPosition}"></td>
                <td>
                    <a th:href="@{/User/toUserUpdate?userId=}+${bean.userId}"
                       class="list-group-item list-group-item-success">修改</a>
                </td>
                <td>
                    <a th:href="@{/User/DeleteUser?userId=}+${bean.userId}"
                       class="list-group-item list-group-item-success">刪除</a>
                </td>
            </tr>
            </tbody>
        </table>
        <div style="margin-left: 40%">
            <form id="_pageForm" th:action="@{/User/SelectUserAll}" method="post">
                <div>
                    <ul class="pagination" style="height: 100%;">
                        <li>
                            <a th:href="@{/User/SelectUserAll?pageNum=}+${session.pageInfo.prePage}+'&pageSize='+${session.pageInfo.pageSize}"><<</a>
                        </li>
                        &nbsp;&nbsp;
                        <li th:each="page : ${session.totalPages}">&nbsp;
                            <a th:href="@{/User/SelectUserAll?pageNum=}+${page}+'&pageSize='+${session.pageInfo.pageSize}"><span
                                    th:text="${page}"></span></a>&nbsp;
                        </li>
                        &nbsp;&nbsp;
                        <li>
                            <a th:href="@{/User/SelectUserAll?pageNum=}+${session.pageInfo.nextPage}+'&pageSize='+${session.pageInfo.pageSize}">>></a>
                        </li>&nbsp;
                        当前页：<span th:text="${session.pageInfo.pageNum}"></span>
                        总页数：<span th:text="${session.pageInfo.pages}"></span>
                    </ul>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
<script type="text/javascript">
</script>
</html>